*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: gray;
}

.Large {
    font-size: 1.5rem;
    font-weight: bold;
}